﻿
@{
    ViewData["Title"] = "Alarms";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ControlWebSite.Models
@{ 
    NotificationModel nm = (NotificationModel)ViewData["notificationModel"];
}

<br />
<br />
<h2>Alarms</h2>


<script>
    

</script>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Type</th>
            <th>Datetime</th>
            <th>DeviceCode</th>
            <th>Content</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Notification notification in nm.notifications)
        {
        <tr>
            <td>@notification._type</td>
            <td>@notification.datetime</td>
            <td>@notification.deviceCode</td>
            <td>@notification.content</td>
            <td><a class="btn btn-danger" href="/Control/Transition_DeleteNotification/@notification.Id"></a></td>
        </tr>
        }

    </tbody>
</table>