﻿
@{
    ViewData["Title"] = "Device";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string id = (string)ViewData["id"];

    string fileContent = "";

    if (Context.Request.Path.Value.Contains("/Device/"))
    {
        string deviceName = Context.Request.Path.Value.Split("/Device/")[1];
        string mainFilePath = System.IO.Path.Combine("DevicesApps", deviceName, "app", "layout.htm");
        fileContent = System.IO.File.ReadAllText(mainFilePath);
    }
}


<br />
<div id="TestApp" ng-app="TestApp" ng-controller="deviceController">

    @Html.Raw(fileContent);

</div>