﻿@{
    ViewData["Title"] = "Launch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<DeviceModel> deviceApps = (List<DeviceModel>)ViewData["deviceApps"];
}

<br />
<br />
<h2>Launch</h2>

@foreach (DeviceModel deviceApp in deviceApps)
{
    <!-- Tekrarlanacak Kısım başlangıç-->
    <div class="row col-md-9 col-md-offset-1" style="border: 1px solid black; margin-bottom: 20px;">
        <div class="col-md-3" style="float: left;">
            <img src="/DevicesApps/@deviceApp.productCode/@deviceApp.imageName" height="100%" width="100%" class="img-responsive" />
        </div>
        <div class="col-md-9">
            <br />
            <h3>@deviceApp.title</h3>
            <h5>@deviceApp.producerName</h5>
            <a class="btn btn-success" href="/Control/Device/@deviceApp.productCode">USE</a>
        </div>
    </div>
    <!-- Tekrarlanacak Kısım son-->

}



