﻿
@{
    ViewData["Title"] = "NewDevices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] list=(string[])ViewData["list"];
}

<h2>NewDevices</h2>
@foreach (string eleman in list)
{
<a class="btn btn-success" href="/Control/Transition_DownloadPackage/@eleman">Download: @eleman</a>
    <br />
}
