
    <br />
    <br /> 
    <br />
    <br />

    <a href="#!red">Red</a>
    <a href="#!green">Green</a>
    <a href="#!blue">Blue</a>

    <h2>Device: @id</h2>
    <br />
    <h2> {{name}}</h2>

	<div ng-view>

	</div>
