﻿@using OtomationStore.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Producer.cshtml";

    producers producer = (producers) ViewData["producer"];

}

<center>
    <div>
        <h2>@producer.name</h2>
        <br />
        <h3>@producer.country</h3>
        <br />
        <h3>@producer.branch</h3>
        <br />
        <h3>@producer.registration_date</h3>
        <br />
        <h3>@producer.email</h3>
</div>
</center>