﻿@using System.ServiceModel.Channels
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Producer.cshtml";

    string message=null;
    if (TempData["_message"] != null)
    {
        message = (string) TempData["_message"];
    }
}


<br />


<div class="container col-md-12">
    <center>
        <div class="col-md-4 col-md-offset-4" style="border: 1px solid gray; border-radius: 10px;">
            <br/>
            <h4>Login System</h4>

            <hr />

            <form action="/Producer/Transition_Login" method="post">
                <input type="text" name="producers_name" placeholder="Producer Name" required class="form-control" />
                <br />
                <input type="password" name="password" placeholder="Password" required class="form-control" />
                <br />
                <input type="submit" value="LOGIN" class="btn btn-info btn-block" />
                <br />
                @if(message!=null)
                { 
                    <font size="3" color="red">@message</font>
                    <br />
                }
            </form>
        </div>
    </center>
</div>