<div class="container col-xs-offset-1" style="padding:10px;" ng-controller="clicks">
        <div class="col-md-12 col-xs-12 ">

            <div class="col-md-4 col-xs-12 row" style="background-position:center;background-image:url('../../smsng-tv-e7400/app/images/tv.jpg');background-repeat:no-repeat;background-size:inherit;height:200px;">
                <center>
                    <h3>Durum: {{isOpen}}</h3>
                    <h3>Kanal: {{channel}}.Kanal</h3>
                    <h3>Ses &nbsp;: % {{volume}}</h3>
                </center>
            </div>
        </div>

        <div class="col-md-12 col-xs-12" style="margin:10px;"></div>

        <div class="col-md-12 col-xs-12 ">
            <div class=" col-md-4 col-xs-12 row" style="border:1px solid black; padding:10px;border-radius:10px;">
                <div class="row">
                    <div class="col-md-12 col-xs-12 row ">
                        <img ng-click="openClose()" src="../../smsng-tv-e7400/app/images/indir.png" class="col-md-offset-5 col-xs-offset-5  handCursor  img-responsive "  style="height:50px;">
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 ">
                            <img ng-click="channelUp()" src="../../smsng-tv-e7400/app/images/chup.png" class="col-md-offset-3 col-xs-offset-3 handCursor  img-responsive "  style="height:50px;">
                        </div>
                        <div class="col-md-6 col-xs-6 ">
                            <img ng-click="volumeUp()" src="../../smsng-tv-e7400/app/images/sesarttirma.png" class="col-md-offset-3 col-xs-offset-3 handCursor  img-responsive "  style="height:50px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6" height="10%">
                            <img src="../../smsng-tv-e7400/app/images/ch.png" class="col-md-offset-3 col-xs-offset-3  img-responsive"  style="height:50px;">
                        </div>
                        <div class="col-md-6 col-xs-6 " height="10%">
                            <img src="../../smsng-tv-e7400/app/images/vol.png" class="col-md-offset-3 col-xs-offset-3  img-responsive  "  style="height:50px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 ">
                            <img ng-click="channelDown()" src="../../smsng-tv-e7400/app/images/chdown.png" class="col-md-offset-3 col-xs-offset-3 img-responsive  handCursor"  style="height:50px;">
                        </div>
                        <div class="col-md-6 col-xs-6 ">
                            <img ng-click="volumeDown()" src="../../smsng-tv-e7400/app/images/sesazalt.png" class="col-md-offset-3 col-xs-offset-3 img-responsive   handCursor"  style="height:50px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>