﻿@{
    //if (Request.Url.PathAndQuery.IndexOf("Admin_Sistem") != -1)
    //    ;
    //Context.Request.Path

    //string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ControlWebSite</title>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="~/css/site.css" />

        <!-- Uygulamaya ait olan css dosyaları sisteme ekleniyor:-->
        @if (Context.Request.Path.Value.Contains("/Device/"))
        {
            string deviceName = Context.Request.Path.Value.Split("/Device/")[1];
            string appCssDirectory = System.IO.Path.Combine("DevicesApps", deviceName, "app", "css");
            string[] files = System.IO.Directory.GetFiles(appCssDirectory);
            string[] justFileNames = files.Select(w => System.IO.Path.GetFileNameWithoutExtension(w)).ToArray();

            @foreach (string fileName in justFileNames)
            {
                <link rel="stylesheet" href="../../@deviceName/app/css/@(fileName).css" />
            }
        }



</head>
<body>
    <!--
     <embed src="~/DevicesApps/beko-ow-nw243/Content/notification.mp3" autostart="false" width="0" height="0" id="sound1"
            enablejavascript="true">
    -->
    <div id="alarmApp" ng-app="alarmApp" ng-controller="alarmController">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Control/Launch" class="navbar-brand">Automation Control</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Control/Launch">Launch</a></li>
                        <li><a href="/Control/Alarms">Alarms</a></li>
                        <li><a href="/Control/Settings">Settings</a></li>
                         <li><a href="/Control/NewDevices">New Devices</a></li>
                        <!--<li><a href="/Control/Transition_DownloadPackage/arclk-wm-k3000">Download Arçelik WM</a></li>-->
                    </ul>
                    <div class="navbar-btn navbar-right">

                        <a href="/Control/Alarms" class="btn btn-warning">
                            <span class="badge badge-primary">{{notifications.length}}</span>
                            Notifications
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content">



        @RenderBody()

        <br />
        <footer></footer>
    </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>






    @RenderSection("Scripts", required: false)
    <script src="~/DevicesApps/beko-ow-nw243/Content/jquery.min.js"></script>
    <script src="~/DevicesApps/beko-ow-nw243/Content/signalr-client-1.0.0-alpha2-final.js"></script>

    <script src="~/DevicesApps/beko-ow-nw243/Content/alarmController.js"></script>


    @if (Context.Request.Path.Value.Contains("/Device/"))
    {
        string deviceName = Context.Request.Path.Value.Split("/Device/")[1];
        string appPagedirectory = System.IO.Path.Combine("DevicesApps", deviceName, "app", "pages");
        string[] files = System.IO.Directory.GetFiles(appPagedirectory);
        string[] justFileNames = files.Select(w => System.IO.Path.GetFileNameWithoutExtension(w)).ToArray();



        <script type="text/javascript">


            var app = angular.module('TestApp', ['ngRoute']);

            app.config(function ($routeProvider) {
                $routeProvider

                @foreach(string file in justFileNames)
                {
                    string param = file;
                    string fileName = file;

                    if (file == "main") {
                        param = "";
                    }

                    <text>
                        .when("/@param", {
                            templateUrl: "../../@deviceName/app/pages/@(fileName).htm"
                                })
                                </text>
                }
            });

        </script>

    }



    <!-- Uygulamaya ait olan css dosyaları sisteme ekleniyor:-->
    @if (Context.Request.Path.Value.Contains("/Device/"))
    {
        string deviceName = Context.Request.Path.Value.Split("/Device/")[1];
        string appCssDirectory = System.IO.Path.Combine("DevicesApps", deviceName, "app", "js");
        string[] files = System.IO.Directory.GetFiles(appCssDirectory);
        string[] justFileNames = files.Select(w => System.IO.Path.GetFileNameWithoutExtension(w)).ToArray();

        @foreach (string fileName in justFileNames)
        {
            // <script src="../../@deviceName/app/js/@(fileName).js"></script>
            <script src="~/DevicesApps/@deviceName/app/js/@(fileName).js"></script>
        }
    }

	

    <script type="text/javascript">
        angular.bootstrap(document.getElementById("TestApp"), ['TestApp']);
    </script>
	
</body>
</html>
