
<br />
<br />

<h2> {{name}}</h2>

<hr />

<a href="#!">Main</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#!red">Settings</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#!blue">Logs</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#!green">About</a>

<hr />

<div ng-view>

</div>
