﻿@using OtomationStore.Models

@{
    ViewBag.Title = "ListAllProducts";
    Layout = "~/Views/Shared/_Layout_Producer.cshtml";

    List<products> products = (List<products>) ViewData["products"];
}


<h2 class="col-md-offset-4">All Products</h2>
<br/>
<div id="products" style="padding-bottom: 200px;">
    
    @for (int i = 0; i < products.Count; i++)
    {
        products product = products.ElementAt(i);

        <!-- Tekrarlanacak Kısım başlangıç-->
        <div class="row col-md-9 col-md-offset-1" style="border: 1px solid black; margin-bottom: 20px;">
            <div class="col-md-3" style="float: left;">
                <img src="/Storage/@product.producers.producers_name/@product.product_code/@product.image_path" height="100%" width="100%" class="img-responsive" />
            </div>
            <div class="col-md-9">
                <br/>
                <h3>@product.title</h3>
                <h5>@product.producers.name</h5>
                <a href="/Product/Details/@product.product_code">Click For Details</a>
            </div>
        </div>
        <!-- Tekrarlanacak Kısım son-->

    }

</div>